<div class="flex flex-col gap-4 w-full h-full p-4 rounded-lg outline-dotted bg-white">

    <div class="flex flex-col gap-2">
        <span class="font-bold text-2xl">Autor:</span>
        <span>
            Gabriel Shiguemi Seima
        </span>
    </div>

    <div class="flex flex-col gap-2">
        <span class="font-bold text-2xl">Matéria:</span>
        <span>
            PUCPR DevOps
        </span>
    </div>

    <div class="flex flex-col gap-2">
        <span class="font-bold text-2xl">Aplicação:</span>
        <span>
            Angular v18.0.5
        </span>
    </div>

    <div class="flex flex-col gap-2">
        <span class="font-bold text-2xl">Interface:</span>
        <span>
            Material v18.2.1
        </span>
    </div>

    <div class="flex flex-col gap-2">
        <span class="font-bold text-2xl">Framework:</span>
        <span>
            Tailwind CSS v3.4.10
        </span>
    </div>

</div>