<div class="flex flex-col w-dvw h-dvh bg-dark">

    <!-- Header -->
    <div class="flex px-4 py-1 gap-2 items-center border-b border-b-granite-gray">

        <!-- Logo -->
        <button
            class="min-w-16 w-16 max-w-16"
            [routerLink]="['/']">
            <img src="images/icon.png"/>
        </button>

        <!-- Navigation -->
        <div class="flex gap-2">
            @for (item of navigation; track item.id) {
                <button mat-button
                    [routerLink]="['/', item.route]"
                    [routerLinkActive]="['text-white', 'bg-red-500']">
                    {{ item.title }}
                </button>
            }
        </div>

        <!-- Actions -->
        <div class="ml-auto">

            <!-- User -->
            <button mat-icon-button
                [matMenuTriggerFor]="menu"
                class="flex items-center">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <!-- User -->
                <span mat-menu-item class="pointer-events-none">
                    <mat-icon>person</mat-icon>
                    <span>{{ (user$ | async).name }}</span>
                </span>

                <!-- Status -->
                <button mat-menu-item [matMenuTriggerFor]="status">

                    @if ((user$ | async).status === UserStatusEnum.ACTIVE) {
                        <div class="flex items-center">
                            <mat-icon>check</mat-icon>
                            <span>Disponível</span>
                        </div>
                    }
                    @else if ((user$ | async).status === UserStatusEnum.INACTIVE) {
                        <div class="flex items-center">
                            <mat-icon>block</mat-icon>
                            <span>Ocupado</span>
                        </div>
                    }
                    @else {
                        <div class="flex items-center">
                            <mat-icon>visibility_off</mat-icon>
                            <span>Invisível</span>
                        </div>
                    }
                </button>

                <!-- Date -->
                <span mat-menu-item class="pointer-events-none">
                    <mat-icon>calendar_today</mat-icon>
                    <span>{{ today | date: 'dd/MM/yyyy' }}</span>
                </span>

                <!-- Logout -->
                <button mat-menu-item
                    [disabled]="true">
                    <mat-icon>logout</mat-icon>
                    <span>Sair (em breve)</span>
                </button>
            </mat-menu>

            <mat-menu #status="matMenu">
                <button mat-menu-item (click)="setStatus(UserStatusEnum.ACTIVE)">Disponível</button>
                <button mat-menu-item (click)="setStatus(UserStatusEnum.INACTIVE)">Ocupado</button>
                <button mat-menu-item (click)="setStatus(UserStatusEnum.INVISIBLE)">Invisível</button>
              </mat-menu>
        </div>
    </div>

    <div class="w-full h-full p-4">
        <router-outlet/>
    </div>
</div>
